@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --colorFondo :#1E1E1E;
    --rojo: #A3121C;
    --rojoclaro:#BD686F;
    --fondoBlanco: #FFFCFC;
    --blancoLetras: #FFFFFF;
    --amarillo: #F4B86F;
    --menus:#fffafa7a;
    --menuActivo:#FFFAFA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
}

/* Estilos básicos del menú */
.menu {
    background-color: var(--rojo);
    padding: 10px;
    display: flex;
    justify-content: center;

  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu ul li {
    position: relative;
  }
  
  .menu ul li a {
    color: var(--menus);
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    gap: 40px;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 20px;
  }
  
  /* Efecto hover en enlaces */
  .menu ul li:hover > a {
    color: var(--menuActivo);
  }
  
  /* Estilos del mega menú */
  .mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 700px;
    background-color: #f4f4f4;
    border-radius: 5px ;
    padding: 20px;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:hover .mega-menu {
    display: flex;
  }
  
  .mega-menu .column {
    width: 50%; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .mega-menu h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 400;
    color: var(--rojo);
  }
  
.opciones{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

  .mega-menu .column a {
    color: var(--colorFondo);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  .mega-menu a:hover {
    color: var(--rojoclaro);
    font-weight: bold;
  }
