@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --colorFondo :#1E1E1E;
    --rojo: #A3121C;
    --rojoclaro:#BD686F;
    --fondoBlanco: #FFFCFC;
    --blancoLetras: #FFFFFF;
    --amarillo: #F4B86F;
    --menus:#fffafa7a;
    --menuActivo:#FFFAFA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
}

.galeria{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.galeria_titulo{
  font-family: "Pinyon Script";
  font-size: 126px;
  font-weight: 400;
  letter-spacing: 10px;
  color: var(--blancoLetras);
  margin: 60px 0 20px 0;
  
}

.galeria_imagenes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.galeria_imagenes--imagen{
    width: 350px;
    height: 350px;
    border-radius: 15px;
  }

.banner__btn--personaliza{
    width: 328px;
    height: 59px;
    border-radius: 2px;
    border: 1px solid var(--amarillo);
    color: var(--blancoLetras);
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    line-height: 59px;
    margin-top: 80px;
}


.comentario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;  
  margin: 50px 0 20px 0;
}

.comentario_titulo{
  font-family: "Oswald";
  color: var(--blancoLetras);
  font-size: 1.5em;
}

.comentario_tarjetas{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tarjeta{
  width: 300px;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--fondoBlanco);
  border: 2px solid var(--rojo);
}

.tarjeta h3{
  font-family: "Oswald";
  font-weight: 700;
  color: var(--rojo);

}